paper/
results/

.idea/
__pycache__/
*.pyc
.vscode/
*.log
Thumbs.db
.DS_Store

dataset/EM-estimate
dataset/result_df_full_year_2020.pkl
dataset/asi_opensource_pod_hourly
dataset/asi_opensource_server_hourly